*{ 
    margin: 0px; 
     padding: 0px; 
     box-sizing: border-box;
     text-decoration: none;
 }
body{
    overflow-x: hidden;
}

.head{
    display: flex;
    width: 100%;
    height: 80px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.head ul{
    list-style-type: none;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    flex-direction: row;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.about{
    display: flex;
    padding-left: 0px;
    padding-right: 100px;
}
.about li{
    display: flex;
    margin: 25px;
}
.about ul{
    display: flex;
    margin-left: -54px;
    margin-right: 178px;
}
.title{
    padding-left: 25px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 52px;
}
.title a{
    font-weight: 900;
}
.sign{
    padding-right: 20px;
    padding-left: 20px;
    min-width: 40px;
    line-height: 40px;
}
.ef{
    color: black;
}
.about a{
    color: black;
}
.main{
    display: flex;
    /* padding-left: 40px; */
    /* padding-right: 60px; */
    margin-left: 90px;
}
.sign a{
    width: 100px;
    height: 44px;
    background-color: #0095f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px 10px 25px 8px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign a:hover{
    background-color:#1249df;
    transition: 0.4s;
}
/* .sign a{
    color: white;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: inherit;
    border: none;
    position: absolute;
} */

.sign1 a{
    width: 114px;
    height: 44px;
    background-color: #0095f6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 25px -13px 25px 43px;
    border-radius: 25px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.sign1 a:hover{
    background-color:#1249df;
    transition: 0.4s;
}
/* .sign1 button{
    color: white;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: inherit;
    border: none;
    position: absolute;
} */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
    height: 480px;
    background-image: url(../img/hero.webp);
    /* background-size: cover; */
    background-size: auto;
    /* background-position: 0px 0px; */
    flex-direction: column;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.content h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}
.content h4{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
}
.screen {
    width: 100vw;
    display: flex;
    justify-content: center;
}
.esas{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 75px;
    width: 1100px;
    padding-bottom: 100px;
}
.yazi{
    margin: 80px 225px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 23px;
}
.yazi h1{
    color: #303538;
}
.page1_{
    /* display: flex; */
    /* justify-content: start; */
    width: 1100px;
    height:auto;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.bash{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 50px;
    font-size: 25px;
    margin-left: 61.01px;
    margin-right: 61.01px;
    text-align: center;
}
.shekil img{
    margin-top: 30px;
    display: flex;
    margin: 35px 150px;
    width: 800px;
    border-radius: 5px;
}
.sub{
    color: #9e9e9e;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 70px 150px 20px 150px;
}
.desc{
    width: 978px;
    margin: 0px 61px;
}
.desc p{
    /* display: flex; */
    /* justify-content: center; */
    line-height: 35px;
    margin: 0px 61px;
    /* text-align: center; */
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 300;
    /* margin-top: auto; */
}
.author_time{
    color: #acabab;
    font-family: monospace;
    display: flex;
    justify-content: end;
    margin: 30px 60px 30px 0px;
}



.end1{
    background-color: whitesmoke;
    width: 100%;
    height: 300px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    width: 1200px;
    height: 300px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 20px;
    padding-top: 20px;
    flex-direction: row;
}
.end p{
    padding-top: 10px;
}
.end p:hover{
    color: #037ef3;
}
.ab p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.end a{
    color: #343434;
}