{% extends "base.html" %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/css/style_r.css' %}" />
{% endblock %}


{% block title %}Sign up |{% endblock %}


{% block content %}

<div class="login_page">
    <ul class="login_page_ul">
        <li>
           <div class="part1">
               <a href="{% url 'index' %}">
                   <h1>MyBlog</h1>
                </a> 
           </div>
        </li>
        <li>
           <div class="part2">
               <div class="login_box">
                   <div class="login_box_head">
                       <h1>Sign up</h1>
                       <form method="POST">
                           {% csrf_token %}
                           {% if error %}
                               <div class="error">
                                   <p>{{error}}</p>
                               </div>
                           {% endif %}
                           <div class="username_">
                               <label for="username" class="label">Username</label>
                               <input type="text" class="input-username" required name="username" value="{{ username }}">
                           </div>
                           <div class="email_">
                                <label for="email" class="label">Email</label>
                                <input type="email" class="input-email" required name="email"  value="{{ email }}">
                            </div>
                            <div class="firstname_">
                                <label for="firstname" class="label">Firstname</label>
                                <input type="text" class="input-firstname" required name="firstname" value="{{ firstname }}">
                            </div>
                            <div class="lastname_">
                                <label for="lastname" class="label">Lastname</label>
                                <input type="text" class="input-lastname" required name="lastname" value="{{ lastname }}">
                            </div>
                           <div class="pass">
                               <label for="password" class="label">Password</label>
                               <input type="password" class="input-pass" required name="password">
                           </div>
                           <div class="repass">
                                <label for="repassword" class="label">Password confirmation</label>
                                <input type="password" class="input-repass" required name="repassword">
                            </div>
                           <div class="empty"></div>
                           <input type="submit" value="Sign up" class="signup-button" required>
                       </form>
                       <div class=”text”>
                           <p class="p">Have an account already? <a href="{% url 'login' %}">Log in</a></p> 
                       </div>
                   </div>
               </div>
           </div>
        </li>
    </ul>
    <div class="end">
        <p class="end_end">&copy; 2022 MyBlog company.  All rights reserved.</p>
     </div>
</div>

{% endblock %}


{% block js_files %} 
   <script src="{% static 'blog/js/script.js' %}">  </script>
{% endblock %}
